%p{:id=>"notice"}= notice
.prepend-9.span-6.append-9
  Pick Color:
  - Cell::COLORS.each do |color|
    = link_to board_path(@board), :method => :put, :remote => true do
      .span-1.rounded.bordered{:class => color.to_s}
        &nbsp;

= render "board"
